html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Chess puzzle iframe container */
.chess-puzzle-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* 4:3 Aspect Ratio */
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    background: #f8f9fa;
}

.chess-puzzle-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

/* Ajustar la relación de aspecto para pantallas grandes */
@media (min-width: 768px) {
    .chess-puzzle-container {
        max-width: 1200px; /* Ancho máximo para pantallas grandes */
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    }
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 576px) {
    .chess-puzzle-container {
        padding-bottom: 100%; /* 1:1 Aspect Ratio para móviles */
    }
}
